<!doctype html>
<html lang="en">
 
<head>
	<meta charset="UTF-8">
	<meta charset="utf-8"> 
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<title>SDemo</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
	/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link href="/css/material-bootstrap-wizard.css" rel="stylesheet" />
	<link href="/css/sdemo.css" rel="stylesheet" />
</head>

<body class="bg-light">
	<div class="container col-sm-6 col-md-6 col-lg-6">
		<div class="bg-white row">
			<div class="center-block col-sm-12 col-md-12 col-lg-12">
				<h3 class="wizard-title">
					Регистрация кандидата
				</h3>
				<div>Вы можете заполнить поля анкеты автоматически, загрузив скан документа или сфотографировав его (если эта страница открыта
					на мобильном устройстве):</div>
				<div class="row">
					<div class="col-sm">
						<label class="btn btn-primary btn-block">
							Паспорт
							<input id="filePASS" type="file" onchange="onChooseFile('PASS')" style="display: none;"></input>
						</label>
					</div>
					<div class="col-sm">
						<label class="btn btn-default btn-block">
							СНИЛС
							<input id="fileSNILS" type="file" onchange="onChooseFile('SNILS')" style="display: none;"></input>
						</label>
					</div>
					<div class="col-sm">
						<label class="btn btn-default btn-block" disabled>
							ИНН
							<input id="fileINN" type="file" onchange="onChooseFile('INN')" style="display: none;"></input>
						</label>
					</div>
				</div>
				<img id="img" src="" height="200" alt="Image preview...">
				<div class="form-group label-floating">
					<label class="control-label">Фамилия
						<span class="text-danger">
							<sup>*</sup>
						</span>
					</label>
					<input id="lastname" type="text" class="form-control">
				</div>
				<div class="form-group label-floating">
					<label class="control-label">Имя
						<span class="text-danger">
							<sup>*</sup>
						</span>
					</label>
					<input id="firstname" type="text" class="form-control">
				</div>
				<div class="form-group label-floating">
					<label class="control-label">Отчество
						<span class="text-danger">
							<sup>*</sup>
						</span>
					</label>
					<input id="midname" type="text" class="form-control">
				</div>
				<div class="form-group label-floating">
					<label class="control-label">Дата рождения
						<span class="text-danger">
							<sup>*</sup>
						</span>
					</label>
					<input id="birthdate" type="text" class="form-control">
				</div>
				<div class="form-row form-group">
					<div class="col-sm-2 form-group label-floating">
						<label class="control-label">Серия</label>
						<input id="pass_seria" type="text" class="form-control">
					</div>
					<div class="col-sm-8 form-group label-floating">
						<label class="control-label">Номер паспорта</label>
						<input id="pass_number" type="text" class="form-control">
					</div>
					<div class="col-sm-2 form-group label-floating">
						<input id="pass_date" type="date" class="form-control">
					</div>
				</div>
				<div class="col-sm-2 form-group label-floating">
					<label class="control-label">Выдан</label>
					<input id="pass_given" type="text" class="form-control">
				</div>
				<div class="form-group label-floating">
					<label class="control-label">СНИЛС</label>
					<input id="snils" type="text" class="form-control">
				</div>
				<div class="form-group label-floating">
					<label class="control-label">ИНН</label>
					<input id="inn" type="text" class="form-control">
				</div>
				<div class="form-group label-floating">
					<label class="control-label">Email
						<span class="text-danger">
							<sup>*</sup>
						</span>
					</label>
					<input id="email" type="email" class="form-control">
				</div>
				<div class="form-group label-floating">
					<label class="control-label">Телефон
						<span class="text-danger">
							<sup>*</sup>
						</span>
					</label>
					<input id="phone" type="text" class="form-control">
				</div>
			</div>
			</form>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
 crossorigin="anonymous"></script>
<script src="/js/jquery.bootstrap.js" type="text/javascript"></script>
<script src="/js/material-bootstrap-wizard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script>
	function onChooseFile(type) {
		$("#lastname").val('In progress...');
		var file = $("#file" + type)[0].files[0];
		if (file) {
			var reader = new FileReader();
			reader.onloadend = function (evt) {
				$("#img")[0].src = evt.target.result;
				ocr(evt.target.result);
			}
			reader.readAsDataURL(file, "UTF-8");
		}
	}

	function ocr(image) {
		$.ajax({
			url: '/ocr',
			type: "POST",
			data: { image: image },
			dataType: "json",
			success: function (data, status, xhttp) {
				set_val("#firstname", data.firstName);
				set_val("#lastname", data.lastName);
				set_val("#midname", data.midName);
				set_val("#birthdate", data.birthDate);
				set_val("#pass_seria", data.passSeria);
				set_val("#pass_number", data.passNumber);
				set_val("#pass_date", data.passDate);
				set_val("#pass_given", data.passGiven);
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.status);
				alert(thrownError);
			},
			timeout: 120000
		});
	}

	function set_val(id, val) {
		$(id).focus().val(val);
		$(id).parent('.mdl-textfield').removeClass('is-invalid').addClass('is-dirty')
	}
</script>

</html>
